<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WEBCON.BPS.Importer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <WEBCON.BPS.Importer.Properties.Settings>
      <setting name="clientID" serializeAs="String">
        <value />
      </setting>
      <setting name="clientSecret" serializeAs="String">
        <value />
      </setting>
      <setting name="ApplicationID" serializeAs="String">
        <value />
      </setting>
      <setting name="Report" serializeAs="String">
        <value />
      </setting>
      <setting name="WorkFlowTemp" serializeAs="String">
        <value />
      </setting>
      <setting name="DocTypeID" serializeAs="String">
        <value />
      </setting>
      <setting name="PathID" serializeAs="String">
        <value />
      </setting>
      <setting name="ImportFile" serializeAs="String">
        <value />
      </setting>
      <setting name="ExportPath" serializeAs="String">
        <value />
      </setting>
      <setting name="ExportFile" serializeAs="String">
        <value />
      </setting>
      <setting name="User" serializeAs="String">
        <value>user@domain.com</value>
      </setting>
      <setting name="ViewID" serializeAs="String">
        <value />
      </setting>
      <setting name="TemplateStepID" serializeAs="String">
        <value />
      </setting>
      <setting name="TemplateDocTypeID" serializeAs="String">
        <value />
      </setting>
      <setting name="DBID" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Server" serializeAs="String">
        <value>https://example.webcon.pl/WEBCONBPS/</value>
      </setting>
      <setting name="WorkFlowImport" serializeAs="String">
        <value />
      </setting>
    </WEBCON.BPS.Importer.Properties.Settings>
  </userSettings>
</configuration>
